In [106]:
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize
#reading in the world bank projects json file
obj=json.load(open('world_bank_projects.json'))
df=json_normalize(obj, 'mjtheme_namecode', ['countryshortname', ['_id','$oid']])
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 4 columns):
code                1499 non-null object
name                1499 non-null object
countryshortname    1499 non-null object
_id.$oid            1499 non-null object
dtypes: object(4)
memory usage: 23.5+ KB

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>code</th>
      <th>name</th>
      <th>countryshortname</th>
      <th>_id.$oid</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>8</td>
      <td>Human development</td>
      <td>Ethiopia</td>
      <td>52b213b38594d8a2be17c780</td>
    </tr>
    <tr>
      <th>1</th>
      <td>11</td>
      <td></td>
      <td>Ethiopia</td>
      <td>52b213b38594d8a2be17c780</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>Economic management</td>
      <td>Tunisia</td>
      <td>52b213b38594d8a2be17c781</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>Social protection and risk management</td>
      <td>Tunisia</td>
      <td>52b213b38594d8a2be17c781</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>Trade and integration</td>
      <td>Tuvalu</td>
      <td>52b213b38594d8a2be17c782</td>
    </tr>
  </tbody>
</table>
</div>

In [107]:
# get the list of top 10 countries that have the most project
df.countryshortname.value_counts()

Indonesia                           56
India                               51
Vietnam                             43
Bangladesh                          41
Brazil                              41
China                               40
Africa                              39
Yemen, Republic of                  34
Morocco                             32
Mozambique                          31
Nepal                               29
Tanzania                            28
Burkina Faso                        26
Tajikistan                          25
Pakistan                            25
Lao People's Democratic Republic    24
Afghanistan                         23
Kyrgyz Republic                     22
Armenia                             22
Nigeria                             22
Niger                               21
Peru                                19
Haiti                               19
Kenya                               18
Jordan                              18
Congo, Democratic Republic of       18
West Bank and Gaza                  17
Nicaragua                           17
Uzbekistan                          16
Burundi                             16
                                    ..
Panama                               5
Europe and Central Asia              5
Timor-Leste                          5
Kosovo                               5
Marshall Islands                     5
Sierra Leone                         5
Egypt, Arab Republic of              4
Cape Verde                           4
Gambia, The                          4
Jamaica                              4
Chile                                4
Namibia                              4
Sri Lanka                            4
Antigua and Barbuda                  4
Tonga                                4
Ecuador                              4
Tuvalu                               4
East Asia and Pacific                3
Serbia                               3
Bosnia and Herzegovina               3
Zimbabwe                             3
Thailand                             3
Costa Rica                           2
Congo, Republic of                   2
Angola                               2
Romania                              2
Kiribati                             2
Belarus                              2
Central African Republic             2
Chad                                 2
Name: countryshortname, Length: 118, dtype: int64

In [108]:
# get the top 10 major project themes. 
df.name.value_counts()

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Economic management                              33
Rule of law                                      12
Name: name, dtype: int64

In [109]:
#sort the code to check if we should back fill or forward fill
newdf=df.sort_values(by=['code','name'],na_position='first')
print(newdf)

     code                 name                        countryshortname  \
212     1                                                      Liberia
363     1                                                Cote d'Ivoire
1024    1                                                     Tanzania
1114    1                                                     Honduras
1437    1                                                    Guatemala
2       1  Economic management                                 Tunisia
88      1  Economic management                              Seychelles
175     1  Economic management                             Afghanistan
204     1  Economic management                         Kyrgyz Republic
205     1  Economic management                         Kyrgyz Republic
220     1  Economic management                                 Tunisia
222     1  Economic management                                  Jordan
223     1  Economic management                              Mozambique
249     1  Economic management                                 Armenia
357     1  Economic management                                  Poland
453     1  Economic management                                 Lesotho
454     1  Economic management                   Sao Tome and Principe
458     1  Economic management                   Sao Tome and Principe
497     1  Economic management                                  Malawi
647     1  Economic management        Lao People's Democratic Republic
648     1  Economic management        Lao People's Democratic Republic
784     1  Economic management                                Tanzania
803     1  Economic management                                  Panama
841     1  Economic management                                 Vietnam
900     1  Economic management                      Yemen, Republic of
1010    1  Economic management                                 Myanmar
1045    1  Economic management  Macedonia, former Yugoslav Republic of
1056    1  Economic management                              Azerbaijan
1057    1  Economic management                              Azerbaijan
1078    1  Economic management                                 Ukraine
...   ...                  ...                                     ...
597     9    Urban development           Congo, Democratic Republic of
598     9    Urban development           Congo, Democratic Republic of
650     9    Urban development                                 Vietnam
669     9    Urban development                              Mozambique
732     9    Urban development                                   China
737     9    Urban development                                  Uganda
738     9    Urban development                                  Uganda
739     9    Urban development                             South Sudan
742     9    Urban development                             South Sudan
822     9    Urban development                                   China
917     9    Urban development                                Thailand
930     9    Urban development                                  Rwanda
940     9    Urban development                                 Morocco
962     9    Urban development            Middle East and North Africa
1095    9    Urban development                                Honduras
1102    9    Urban development                                Colombia
1103    9    Urban development                                Colombia
1104    9    Urban development                                Colombia
1166    9    Urban development                      West Bank and Gaza
1290    9    Urban development                                Tanzania
1303    9    Urban development                                 Bolivia
1318    9    Urban development                                   Nepal
1342    9    Urban development                                  Africa
1347    9    Urban development                              Bangladesh
1425    9    Urban development                                Pakistan
1426    9    Urban development                                Pakistan
1428    9    Urban development                               Indonesia
1470    9    Urban development                        Papua New Guinea
1473    9    Urban development                        Papua New Guinea
1495    9    Urban development                                   Kenya

                      _id.$oid
212   52b213b38594d8a2be17c7ce
363   52b213b38594d8a2be17c802
1024  52b213b38594d8a2be17c8da
1114  52b213b38594d8a2be17c8f7
1437  52b213b38594d8a2be17c95f
2     52b213b38594d8a2be17c781
88    52b213b38594d8a2be17c7a1
175   52b213b38594d8a2be17c7c0
204   52b213b38594d8a2be17c7cb
205   52b213b38594d8a2be17c7cb
220   52b213b38594d8a2be17c7d1
222   52b213b38594d8a2be17c7d2
223   52b213b38594d8a2be17c7d3
249   52b213b38594d8a2be17c7de
357   52b213b38594d8a2be17c801
453   52b213b38594d8a2be17c81e
454   52b213b38594d8a2be17c81f
458   52b213b38594d8a2be17c81f
497   52b213b38594d8a2be17c82d
647   52b213b38594d8a2be17c85c
648   52b213b38594d8a2be17c85c
784   52b213b38594d8a2be17c889
803   52b213b38594d8a2be17c88e
841   52b213b38594d8a2be17c89a
900   52b213b38594d8a2be17c8ad
1010  52b213b38594d8a2be17c8d4
1045  52b213b38594d8a2be17c8e0
1056  52b213b38594d8a2be17c8e5
1057  52b213b38594d8a2be17c8e5
1078  52b213b38594d8a2be17c8eb
...                        ...
597   52b213b38594d8a2be17c84d
598   52b213b38594d8a2be17c84d
650   52b213b38594d8a2be17c85d
669   52b213b38594d8a2be17c865
732   52b213b38594d8a2be17c87a
737   52b213b38594d8a2be17c87c
738   52b213b38594d8a2be17c87c
739   52b213b38594d8a2be17c87d
742   52b213b38594d8a2be17c87d
822   52b213b38594d8a2be17c893
917   52b213b38594d8a2be17c8b3
930   52b213b38594d8a2be17c8b9
940   52b213b38594d8a2be17c8bc
962   52b213b38594d8a2be17c8c2
1095  52b213b38594d8a2be17c8f2
1102  52b213b38594d8a2be17c8f4
1103  52b213b38594d8a2be17c8f4
1104  52b213b38594d8a2be17c8f4
1166  52b213b38594d8a2be17c905
1290  52b213b38594d8a2be17c930
1303  52b213b38594d8a2be17c933
1318  52b213b38594d8a2be17c938
1342  52b213b38594d8a2be17c941
1347  52b213b38594d8a2be17c942
1425  52b213b38594d8a2be17c95a
1426  52b213b38594d8a2be17c95a
1428  52b213b38594d8a2be17c95b
1470  52b213b38594d8a2be17c969
1473  52b213b38594d8a2be17c969
1495  52b213b38594d8a2be17c973

[1499 rows x 4 columns]

In [118]:
#now, replace any empty spaces with nan
df_replace=newdf.replace(u'', np.nan, regex=True)
#backfilling any nans
df_filled=df_replace.fillna(method='backfill')

In [117]:
#redo to check if the NAN is now gone
df_filled.name.value_counts()

Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Rule of law                                      15
Name: name, dtype: int64